{% extends "::layout.html.twig" %}
{% block title %}{{parent()}}--Confirmer votre souscription{% endblock %}
{% block acceuil_parent_active %}active {% endblock %}
{% block body%}
<div class="main">
    <div class="container">
        <h1>Veuillez confirmer votre souscription </h1>
		Consulter votre adresse mail <strong>" {{mail}} "</strong> et cliquez sur le lien indiqué pour activer gratuitement votre compte.
		
		<div>
			
		</div>
		<hr>
    </div>
</div>
{% endblock%}