{% extends "::layout.html.twig" %}
{% block title %}{{parent()}}--Confirmer votre souscription{% endblock %}
{% block acceuil_parent_active %}active {% endblock %}
{% block body%}
<div class="main">
    <div class="container">
        <h1>Votre souscription a été validé. </h1>
		Mail : {{mail}}</p>
		Votre mot de passe : {{motDePasse}}
		
		<div>
			
		</div>
    </div>
</div>
{% endblock%}