{% extends "::layout.html.twig" %}
{% block body%}


<section class="post-section blog-post">
  <div class="container">
    <div class="row">
    <div class="col-md-9 col-sm-9">
        <div class="post-box">
          
          <div class="summary-box">
            
            <h4><a href="obligations"> Obligations</a></h4>
        {{page|raw}}

<div style="page-break-after:always"><span style="display:none">&nbsp;</span></div>

<p>&nbsp;</p>
            <div class="clearfix"><strong class="date"><i class="fa fa-calendar"></i> 29 mai 2017</strong> </div>
          </div>
        </div>
      </div>
            <div class="col-md-3 col-sm-6">
        <aside>
          <div class="sidebar">
         
          <div class="box">
            <div class="frame"> <a href="devis-decennale-constructeur"><img src="webroot/images/pages/page-1491329770.jpg" class="img-responsive" alt="obligations" /> </a></div>
                        
<div class="text-col">
<h4 >Obligations</h4>
                
           {{sd|raw}}     
 
                
</div>

</div>
          
           


          </div>
        </aside>
      </div>
            
    </div>
  </div>
</section>




{% endblock%}
